<ion-content>
    <div class="container">
        <section class="title">
            <h1>
                افحص حالك
            </h1>
        </section>
        <section class="steps">
            <div class="enter-button">
                <ion-button (click)="begin()" fill="solid" color="secondary" *ngIf="step==0">
                    ابدا الفحص
                </ion-button>
                <div class="input-name" *ngIf="step==1">
                    <ion-input type="text" placeholder="ايش اسمك"></ion-input><br>
                    <ion-button (click)="next()" fill="solid" color="secondary" *ngIf="step==1">
                        التالي
                    </ion-button>
                </div>

                <div class="q1" *ngIf="step==2">
                    <div class="q-title">
                        السؤال الاول
                    </div>
                    <div class="play-button" (click)="play('q1')">
                        <ion-icon name="play-outline"></ion-icon>
                    </div>
                    <div class="q-options">
                        <ion-button (click)="next()" fill="solid" color="secondary">
                            ولا شي
                        </ion-button>
                        <ion-button (click)="next()" fill="solid" color="secondary">
                            ما علامي شي
                        </ion-button>
                    </div>
                </div>

                <div class="q1" *ngIf="step==3">
                    <div class="q-title">
                        السؤال الثاني
                    </div>
                    <div class="play-button" (click)="play('q2')">
                        <ion-icon name="play-outline"></ion-icon>
                    </div>
                    <div class="q-options">
                        <ion-button (click)="next()" fill="solid" color="secondary">
                            لا
                        </ion-button>
                        <ion-button (click)="next()" fill="solid" color="secondary">
                            ما بدري
                        </ion-button>
                    </div>
                </div>

                <div class="q1" *ngIf="step==4">
                    <div class="q-title">
                        السؤال الثالث
                    </div>
                    <div class="play-button" (click)="play('q3')">
                        <ion-icon name="play-outline"></ion-icon>
                    </div>
                    <div class="q-options">
                        <ion-button (click)="next()" fill="solid" color="secondary">
                            لا
                        </ion-button>
                        <ion-button (click)="next()" fill="solid" color="secondary">
                            ما بدري
                        </ion-button>
                    </div>
                </div>

                <div class="q1" *ngIf="step==5">
                    <div class="q-title">
                        النتيجة
                    </div>
                    <div class="play-button" (click)="play('q4')">
                        <ion-icon name="play-outline"></ion-icon>
                    </div>
                    <div class="q-options">
                        خلك لابد فالملجا
                    </div>
                    <br><br>
                    <ion-button (click)="reset()" expand="block" fill="solid">
                        من جديد
                    </ion-button>
                </div>
            </div>
        </section>
        <section class="image" [ngClass]="{'shake-horizontal': shake}">
            <img src="../../assets/abo.png " />
        </section>
    </div>
</ion-content>